.about-us {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  padding: 31px 30px 26px 30px;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding: 56px 50px 51px 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 68px 50px 58px 50px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 417px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41.5px;
  }

  @media (min-width: @desktop-width) {
    width: 417px;
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
    margin-bottom: 39px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 668px;
    grid-template-columns: 334px 334px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    width: 700px;
    grid-template-columns: 350px 350px;
    margin: 0 auto;
  }
}

.about-us__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-us__item--flower .about-us__description {
  margin: 0;
  padding-top: 54px;
  background-image: url("../../img/icon-flower.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 235px;
  }
}

.about-us__item--money .about-us__description {
  margin: 0;
  padding-top: 53px;
  background-image: url("../../img/icon-money.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 265px;
  }
}

.about-us__item--heart .about-us__description {
  margin: 0;
  padding-top: 48px;
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 242px;
  }
}

.about-us__item--clew .about-us__description {
  margin: 0;
  padding-top: 51px;
  background-image: url("../../img/icon-clew.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 278px;
  }
}

.about-us__item--rocet .about-us__description {
  margin: 0;
  padding-top: 49px;
  background-image: url("../../img/icon-rocet.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 325px;
  }
}

.about-us__item--present .about-us__description {
  margin: 0;
  padding-top: 52px;
  background-image: url("../../img/icon-present.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 263px;
  }
}
