.category-products__navigation {
  display: none;
}

.category-products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  position: relative;
  margin: 0;
  background-image: url("../../img/banner.jpg");
  background-repeat: no-repeat;
  background-position-y: -20px;
  padding-top: 70px;
  padding-bottom: 250px;
}

.category-products__slogan {
  width: 260px;
  text-align: center;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.category-products-list {
  margin: 0;
  padding: 0;
}

.category-products-list__item {
  margin: 0;
  padding: 0;
  width: 320px;
  background-color: #63d1bb;
  position: absolute;
  left: 0;
  top: 280px;
}

.category-products-list__item:nth-child(2) {
  background-color: #56c3b2;
  top: 383px;
}

.category-products-list__item-toy,
.category-products-list__item-interior {
  margin: 0;
  display: block;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 24px 160px 31px 30px;
}

.category-products-list__interior-icon,
.category-products-list__toy-icon {
  position: absolute;
}
