.category-products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;


  @media (min-width: @tablet-width) {
    display: flex;
    width: 668px;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 1050px;
  }
}

.category-products-list__item {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #63d1bb;
  position: relative;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 50%;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 50%;
    top: 0;
  }
}

.category-products-list__item:nth-child(2) {
  background-color: #56c3b2;
}

.category-products-list__item-toy,
.category-products-list__item-interior {
  margin: 0;
  display: block;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  @green: calc(100% - 160px);
  padding: 24px 0 31px 30px;
  padding-right: @green;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 168px 44px 36px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 359px 44px 36px;
  }
}

.category-products-list__interior-icon {
  position: absolute;
  right: 36px;
  top: 23px;

  @media (min-width: @tablet-width) {
    right: 36px;
    top: 30px;
  }
}

.category-products-list__toy-icon {
  position: absolute;
  right: 22px;
  top: 21px;

  @media (min-width: @tablet-width) {
    right: 36px;
    top: 31px;
  }
}

.category-products__item-new,
.category-products__item-sale {
  color: #000000;
}

.category-products__item-new:hover,
.category-products__item-sale:hover,
.category-products__item-new:focus,
.category-products__item-sale:focus {
  opacity: 0.6;
  cursor: pointer;
}

.category-products__item-new:active,
.category-products__item-sale:active {
  opacity: 0.3;
}

.category-products-list__item .category-products-list__interior-icon,
.category-products-list__item .category-products-list__toy-icon {
  opacity: 0.5;
}

.category-products-list__item:hover .category-products-list__interior-icon,
.category-products-list__item:hover .category-products-list__toy-icon {
  opacity: 0.7;
}

.category-products-list__item-interior:hover {
  @media (min-width: @mobile-width) {
    padding-top: 19px;
    padding-bottom: 36px;
    box-shadow: 0 -5px #63d1bb;
  }

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 49px;
  }
}

.category-products-list__item-interior:hover .category-products-list__interior-icon {
  @media (min-width: @mobile-width) {
    top: 18px;
  }

  @media (min-width: @tablet-width) {
    top: 25px;
  }
}

.category-products-list__item-toy:hover {
  @media (min-width: @mobile-width) {
    padding-top: 19px;
    padding-bottom: 36px;
    box-shadow: 0 -5px #56c3b2;
  }

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 49px;
  }
}

.category-products-list__item-toy:hover .category-products-list__toy-icon {
  @media (min-width: @mobile-width) {
    top: 16px;
  }

  @media (min-width: @tablet-width) {
    top: 26px;
  }
}

.category-products-list__item:active .category-products-list__interior-icon,
.category-products-list__item:active .category-products-list__toy-icon {
  opacity: 0.7;
}
