.category-products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 120px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
  }
}

.category-products-list__item {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #63d1bb;


  @media (min-width: @tablet-width) {
    position: relative;
    width: 50%;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 50%;
    top: 0;
  }
}

.category-products-list__item:nth-child(2) {
  background-color: #56c3b2;
}

.category-products-list__item-toy,
.category-products-list__item-interior {
  margin: 0;
  display: block;
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 24px 160px 31px 30px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 350px 34px 36px;
  }
}

.category-products-list__interior-icon,
.category-products-list__toy-icon {
  position: absolute;
}
