.contacts-list-item {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin: 0 30px;
}

.contacts-list-item__title {
  width: 76px;
}

.contacts-list-item__meaning {
  width: 183px;
  margin: 0;
}
