.knitting-form-client {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    padding-left: 167px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 175px;
  }
}

.knitting-form-client__title {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
  }
}

.knitting-form-client__input {
  box-sizing: border-box;
  height: 52px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  font-family: "opensans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.knitting-form-client__input--name {
  &:hover,
  &focus {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    width: 428px;
    padding-left: 15px;
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 22px;
    width: 626px;
  }
}

.knitting-form-client__input--surname {
  &:hover,
  &focus {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    width: 375px;
    padding-left: 15px;
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 24px;
    width: 573px;
  }
}

.knitting-form-client__input--patronymic {
  &:hover,
  &focus {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  @media (min-width: @tablet-width) {
    margin-left: 24px;
    width: 375px;
    padding-left: 15px;
    font-size: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 24px;
    width: 573px;
  }
}

.knitting-form-client--patronymic {
  margin-bottom: 0;
}
