.knitting-form-wrapper {
  display: flex;
  justify-content: center;
}

.knitting-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.knitting-form__button {
  display: block;
  padding: 18px 37px 18px 37px;
  border: 2px solid #444444;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    align-self: flex-start;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    margin-left: 230px;
  }
}

.knitting-form__mark {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 125px;
  }
}
