.knitting-form-wrapper {
  display: flex;
  justify-content: center;
}

.knitting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.knitting-form__button {
  padding: 12px 39px 12px 39px;
  border: 2px solid #444444;
  margin-bottom: 55px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    padding: 14px 30px 14px 30px;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    margin-left: 175px;
    margin-right: 167px;
    margin-bottom: 47px;
  }
}

.knitting-form__mark {
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 3;
    font-size: 17px;
    line-height: 30px;
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}

.knitting-form__background {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
  }
}

.knitting-form__background--client {
  @media (min-width: @tablet-width) {
    padding: 47px 0 47px 0;
  }
}

.knitting-form__background-product-color {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
  }
}

.knitting-form__button-wrapper {
  width: 260px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 668px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1050px;
    justify-content: flex-start;
  }
}
