.knitting-form-client-phone {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 770px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1150px;
  }
}

.knitting-form-client-phone__title {
  background-color: #ffffff;
  width: min-content;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    align-self: center;
    padding: 0;
    margin-right: 132px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
    align-self: center;
    padding: 0;
    margin-right: 92px;
  }
}

.knitting-form-client-phone__title::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #62d1ba;
  top: 8px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.knitting-form-client-phone__input {
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  margin-top: 4px;
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  background-position-x: 210px;
  background-position-y: 15px;

  &:hover,
  &focus {
    border-bottom: 2px solid #62d1ba;
    background-image: url("../../img/phone-green.svg");
  }

  &:active {
    border-bottom: 2px solid #62d1ba;
    background-image: url("../../img/phone-green.svg");
  }

  @media (min-width: @tablet-width) {
    width: 501px;
    background-position-x: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    background-position-x: 650px;
  }
}
