.knitting-form-fieldset {
  position: relative;
  padding: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #62d1ba;
}

.knitting-form-fieldset__title {
  padding: 15px 10px 15px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
