.knitting {
  width: 100%;
}

.knitting__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 100%;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
.knitting__header {
  width: 100%;
}

.knitting__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  padding: 73px 22px 73px 22px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 100px 0 87px 0;
    margin: 0;
    margin-bottom: 54px;
    background-image: url("../../img/zigzag-fill.svg");
    background-repeat-y: no-repeat;
    background-repeat-x: repeat;
    background-position: bottom;

  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 46px 0 112px 0;
    margin: 0;
    margin-bottom: 98px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
    background-repeat-y: no-repeat;
    background-repeat-x: repeat;
    background-position: bottom;
  }


}

.knitting__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-bottom: 14px;
  padding: 0 29px 0 29px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px 0 50px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 225px 0 225px;
    margin: 0;
    margin-bottom: 62px;
  }
}
