.knitting-form-client-mail {
  position: relative;
  width: 260px;
}

.knitting-form-client-mail__title {
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 20px;
}

.knitting-form-client-mail__title::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #62d1ba;
  top: 10px;
  z-index: -1;
}

.kir {
  border: 4px solid #000000;
}

