.knitting-form-fieldset {
  position: relative;
  padding: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #62d1ba;
  width: 260px;

  @media (min-width: @tablet-width) {
    border-top: none;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    width: 1050px;
  }
}

.knitting-form-fieldset__title {
  padding: 15px 10px 15px 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    top: 30px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 100px;
  }
}

.knitting-form-fieldset--client {
  padding: 15px 0 15px 0;

  @media (min-width: @tablet-width) {
    padding: 50px 0 50px 0;
  }
}

.knitting-form-fieldset--product-color {
  padding: 15px 0 15px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.knitting-form-fieldset--type-product {
  padding: 15px 0 15px 0;

  @media (min-width: @tablet-width) {
    padding: 50px 0 50px 0;
  }
}
