.knitting-form-client-text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 770px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1150px;
  }
}

.knitting-form-client-text__title {
  background-color: #ffffff;
  width: min-content;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    align-self: flex-start;
    padding: 0;
    margin-right: 132px;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
    align-self: flex-start;
    padding: 0;
    margin-right: 90px;
    margin-top: 20px;
  }
}

.knitting-form-client-text__title::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #62d1ba;
  top: 8px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.knitting-form-client-text__input {
  box-sizing: border-box;
  width: 260px;
  height: 142px;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    width: 501px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}
