.main-nav__toggle {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url("../../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 31px;
}

.main-nav__toggle.main-nav__toggle:active {
  background-image: url("../../img/menu-close.svg");
}

.main-nav__wrapper {
  // display: flex;//
  display: none;
  flex-direction: column;
  width: 320px;
  position: absolute;
  top: 87px;
  right: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

