.page-form-main {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 0 30px;
}

.knitting-form-mark {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 30px;
}

.knitting-form__button {
  display: block;
  padding: 18px 37px 18px 37px;
  border: 2px solid #444444;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  margin-bottom: 55px;
}
