.product-week {
  display: flex;
  flex-direction: column;
  padding: 107px 30px 30px 30px;
  width: 260px;
  background-image: url('../../img/zigzag-line.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.products-week__header {
  display: flex;
  flex-direction: column;
}

.products-week__item-title {
  margin: 0;
  order: 1;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 3px;
}

.products-week__title {
  margin: 0;
  order: 2;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  margin-bottom: 17px;
}

.products-week-about {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.products-week-about__text {
  margin: 0;
  width: 260px;
  font-size: 15px;
  line-height: 24px;
}

.products-week__specifications-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.specifications-list-item {
  display: flex;
  width: 259px;
  border-bottom: 1px solid #ececec;
}

.specifications-list-item__title {
  width: 97px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.specifications-list-item__meaning {
  margin-bottom: 10px;
  margin-top: 10px;
}

.products-week-about__image {
  margin-top: 28px;
  margin-bottom: 25px;
}

.products-week-about__price {
  width: 260px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.products-week-about__to-cart {
  display: block;
  padding: 16px 70px 16px 70px;
  border: 2px solid #444444;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
}
