.product-week-about {
  width: 260px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 292px 334px;
    grid-template-rows: repeat(4, auto);
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 10px;
    background-image: url("../../img/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.product-week-about__text {
  margin: 0;
  width: 260px;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 292px;
    font-size: 17px;
    line-height: 30px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
    line-height: 30px;
    grid-row: 1/2;
    grid-column: 2/4;
    margin-bottom: 55px;
  }
}

.product-week-about__specifications-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/3;
    grid-column: 2/4;
    margin-bottom: 111px;
  }
}

.product-week-about__image {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    grid-row: 1/5;
    grid-column: 2/3;
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    position: absolute;
    top: -61px;
    right: 50px;
  }
}

.product-week-about__price {
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 3/4;
    grid-column: 2/4;
    margin-bottom: 33px;
    text-align: left;
    margin-left: 70px;
  }
}

.product-week-about__to-cart {
  padding: 13px 70px 13px 70px;

  @media (min-width: @tablet-width) {
    padding: 13px 86px 13px 86px;
    grid-row: 4/5;
    grid-column: 1/2;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 86px 13px 86px;
    grid-row: 4/5;
    grid-column: 2/4;
    margin-bottom: 96px;
    justify-self: left;
    box-sizing: border-box;
    width: 292px;
  }
}
