.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 385px;
    position: absolute;
    top: 90px;
    left:0;
    z-index: 3;
    margin-left: 22px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 385px;
    position: relative;
    top:0;
    left:0;
  }
}

.site-list__item {
  list-style-type: none;
  margin: 0;
  display: flex;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
  }
}

.site-list__item a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px;
}

.site-list__item a {
  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding: 10px;
  }
}
