.site-list__item,
.site-list__cart {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding-left: 50px;
}

.site-list__cart {
  position: relative;
}

.site-list__item a,
.site-list__cart a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px;
}
