.user-list__search {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding-left: 50px;
  position: relative;
}

.user-list__search a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 26px;
}

.user-list__search-icon,
.user-list__cart-icon {
  position: absolute;
  left: 26px;
}
